{% extends 'base.html.twig' %}

{% block title %}Micropost index!{% endblock %}


{% block body %}
    <div>
        <h3>Micropost index</h3>
        <small class="d-block text-right mt-3">
            <a href="{{ path('micro_post_add') }}">All updates</a>
        </small>
        <div>
        {% for mp in microposts %}
            {{ include('micro-post/raw-post.html.twig', { 'mp': mp }) }}
        {% endfor %}
        </div>
    </div>
{%  endblock %}
