{% extends 'base.html.twig' %}

{% block title %}Posts index!{% endblock %}

{% block body %}
    <div>
        <h2>Posts index</h2>
        <div>
            {% for id, post in posts %}
                <div>
                    <h3><a href="{{ path('blog_show', { 'id': id }) }}" {{ id }} . {{ post.title }}</h3>
                    <p>{{  post.text }}</p>
                </div>
            {%  endfor %}
        </div>
    </div>
{%  endblock %}
{% block javascripts %}{% endblock %}
